<!--
 * Created by mmarino on 9/5/2014.
 -->
<% if (currentUser !== undefined) { %>
<script>
    var currentUser = {
        id: '<%= currentUser.id %>',
        role: '<%= currentUser.role %>',
        email: '<%= currentUser.email %>',
        name: '<%= currentUser.name %>',
    };
</script>
<% } %>

<div ng-include="'header/index.tpl.html'"></div>

<div class="container" ui-view="main" id="mainContainer">
</div><!-- /.container -->