<div class="jumbotron">
    <h1>It works!</h1>
</div>
<div class="col-lg-4">
    <h2>  <img src="../../images/logos/angularjs.png" alt="AngularJS" height="45"></h2>
    <p>AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
</div>
<div class="col-lg-4">
    <h2><img src="../../images/logos/nodejs.png" alt="Node.js" height="45"></h2>
    <p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</p>
</div>
<div class="col-lg-4">
    <h2><img src="../../images/logos/sails-logo.png" alt="Sails.js" height="45"></h2>
    <p>Sails makes it easy to build custom, enterprise-grade Node.js apps. It is designed to emulate the familiar MVC pattern of frameworks like Ruby on Rails, but with support for the requirements of modern apps: data-driven APIs with a scalable, service-oriented architecture. </p>

</div>
